# Ignore system and user-specific files
.DS_Store
.Trash/
.CFUserTextEncoding
.bash_history
.bash_profile
.zsh_history
.zsh_sessions/

# Ignore directories
../Applications/
../Desktop/
../Documents/
../Downloads/
../Library/
../Music/
../Movies/
../Pictures/
../Public/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build artifacts
cmake-build-debug/
*.out

# Ignore databases
*.db

